/AD/AD04/Practica/porcel_cifre_macia_AD04_practica/target/
/AD/AD04/Treball/porcel_cifre_macia_AD04_practica/target/
/PSP/PSP04/Treball/PSP04_Porcel_Cifre_Macia_SMTP_NB/target/
/AD/AD05/porcel_cifre_macia_AD05_practica/target/
/AD/AD05/Porcel_Cifre_Macia_AD05_treball/ut5-practica-component/target/
/AD/AD05/Porcel_Cifre_Macia_AD05_treball/ut5-practica-consola/target/
